[submodule "binutils"]
	path = binutils
	url = ../binutils.git
[submodule "gdb"]
	path = gdb
	url = ../gdb.git
[submodule "newlib"]
	path = newlib
	url = ../newlib.git
[submodule "gcc"]
	path = gcc
	url = ../gcc.git
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = ../binutils-gdb.git
